@page "/profile/bookmarks"
@model APMLibrary.Web.Pages.ProfilePages.BookmarksModel
@{
    this.ViewData["Title"] = "Закладки";
}
@{
    await this.Html.RenderPartialAsync("SectionsPartial");
    await this.Html.RenderPartialAsync("BreadcrumbPartial", new Dictionary<string, string?>()
    {
        { "Главная", "/Index" }, { "Профиль", "/ProfilePages/ProfileInfo" }, { "Закладки", null }
    });
}
<div class="row w-100 mb-5 justify-content-center">
    <h1 class="fs-4 fw-bolder mb-4 h-100 overflow-hidden text-wrap" style="overflow-wrap:anywhere;">
        <span>Сохраненные закладки</span>
    </h1>

    <div class="col-12 col-md-10 col-lg-8">

        @if(this.Model.Bookmarks == null || this.Model.Bookmarks.Count() <= 0)
        {
            <div class="my-5 p-3">
                <p class="fs-4 w-100 text-center">Список сохранненых публикаций пуст</p>
            </div>
        }
        else
        {
            @foreach (var item in this.Model.Bookmarks)
            {
                var imageUrl = (item.Image == null ? "/img/nobookcover.png" : $"data:image;base64,{Convert.ToBase64String(item.Image)}");
                var bookUrl = this.Url.Page("/LibraryPages/BookInfo", new { BookId = item.Id });
                <div class="row mb-4">

                    <div class="col-12">
                        <div class="bg-white d-flex flex-row custom-bg-white p-3" style="max-height: 200px;">

                            <a class="text-decoration-none mx-2" href="@bookUrl">
                                <img src="@imageUrl" alt="..." class="card-img-catalog border border-secondary"
                                     style="width: 10rem; border-radius: 10px;" />
                            </a>
                            <div class="mx-2 flex-grow-1 overflow-hidden ">

                                <div class="d-flex flex-row">
                                    <a href="@bookUrl" class="text-decoration-none text-black fw-bolder mb-2 flex-grow-1"
                                       style="font-size: 16px;"> @item.Title </a>
                                    <a asp-page="Bookmarks" asp-page-handler="Remove" asp-route-bookId="@item.Id" class="btn-close" aria-label="Close"></a>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                                        <p class="text-primary m-0 overflow-hidden" style="font-size: 14px;"> @item.AuthorName </p>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                                        <span class="text-primary" style="font-size: 14px;">@item.PageCount страниц</span>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                                        @for (var count = 0; count < 5; count++)
                                        {
                                            <span class="fa fa-star @((item.Rating < count + 1) ? "" : "checked-star")"></span>
                                        }
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                                        <span style="font-size: 14px;">Оценка: @($"{@item.Rating:F2}")</span>
                                    </div>
                                </div>
                                <div class="d-none d-md-inline-block" style="max-height:80px; font-size:14px;">
                                    <p class="w-100 text-wrap" style="overflow-wrap:anywhere;">@item.Description</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        }
    </div>
</div>